pandas
numpy
torch
torchvision
faiss-cpu
pillow
requests
tqdm
git+https://github.com/openai/CLIP.git
fastapi
uvicorn[standard]
python-multipart
opencv-python
python-dotenv
sentence_transformers
transformers